/* Basic setup strat*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Raleway', sans-serif, 'Roboto', sans-serif;
    height: 3000px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    cursor: pointer;
}

p {
    line-height: 150%;
}

.clear {
    overflow: hidden;
}

/* header and brand area design started */
.header-area {
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 85px 0;
    height: 100vh;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.navbar-light .navbar-toggler {
    border: 1px solid #ffffff;
    border-radius: 0;
}

.navbar-toggler-icon i {
    font-size: 31px;
    padding: 8px;
    color: #ffffff;
    line-height: 16px;
    padding-left: 2px;
}

.menu {
    text-align: right;
}

.menu ul li a {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-transform: capitalize;
}

.header-text h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: #ffffff;
    padding-top: 220px;
}

.header-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-transform: capitalize;
    color: #ffffff;

}

.header-text::before {
    content: '';
    position: absolute;
    width: 48%;
    height: 2px;
    border: 2px solid #9ab4be;
    top: 63%;
    left: 26%;
    display: inline-block;
}

.header-text::after {
    content: '';
    position: absolute;
    width: 48%;
    height: 2px;
    border: 2px solid #9ab4be;
    top: 87%;
    left: 26%;
    display: inline-block;
}
/* header and brand area design end */
/* about area design start */

/* about area design end */
.about-area{
    padding: 120px 0;
}
.about-content h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #a0a0a0;
    text-transform: capitalize;
    padding: 40px 0;
}
.about-content p {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #a0a0a0;
	text-transform: initial;
	padding-right: 11%;
	text-align: justify;
	padding-bottom: 30px;
	margin: 0;
}
.about-content .pd {
	padding-bottom: 90px;
}
.about-content a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff2b4a;
    padding: 10px 40px;
    
}
/* service area design started */
#service-area {
	background-color: #ecdfdf;
	padding: 120px 0;
}
.service-text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color:#000000;
    padding-bottom: 20px;
}
.service-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
   color: #9a9a9a; 
   padding-bottom: 60px;
}
.service-item{
    background-image: url(../img/itme01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;

}
.service-item2{
    background-image: url(../img/itme02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;

}
.service-item3{
    background-image: url(../img/itme03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;

}
.service-item4{
    background-image: url(../img/itme04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;

}
.service-common img{
    padding-bottom: 45px;
}
.service-common h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

/* service area design end */

/* font-family: 'Raleway', sans-serif, 'Roboto', sans-serif; */
